<h1>NEW IMAGE</h1>
<%= form_for @image, url: api_v1_images_path(@image) do |f| %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.file_field :attachment %><br>
	</p>
	<p>
		<%= f.submit "Upload Image" %>
	</p>
<% end %>